*{
    margin: 0;
    padding:0;
}

body{
    font-family: sans-serif;
}

/* -- ----------------------- navbar section ------------------------ -- */

#nav-bar{
    position: sticky;
    top: 0;
    z-index:10;

}

.navbar{
    background-image: linear-gradient(to right,#4880f8,#013ab4);
    padding: 0 !important;
}

.navbar-brand img{
   height: 40px;
   padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a {
    color: white !important;
    font-weight: 600;
    float: right;
    text-align: left;
}


.fa-bars{
    color: white;
    font-size: 30px !important;
}

.navbar-toggle{
    outline:none !important;
}

/* -- ----------------------- banner section ------------------------ -- */ 

#banner{
    background-image: linear-gradient(to right,#4880f8,#013ab4);
    color: white;
    padding-top: 2%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top:10px;
}

.play-btn{
width: 45px;
margin: 20px;
}

#banner a{
    color: white;
    text-decoration: none;

}
.bottom-img{
    width: 100%;
}

#banner .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    margin-left: -10px !important;
    border: none;
    border-radius: 20px;
    background:linear-gradient(to left,#043df8,#052cac);
}

.time-card {
      text-align: center !important;
      vertical-align: middle !important;
        border: 3px solid #ffffff;
        padding: 0px !important;
        color: white !important;
        font-size: 10pt !important;
        padding-bottom: 10px !important;
        /* padding-left: -20 px !important;
        padding-right: -20 px !important; */
        border-radius: 15px 50px 30px 5px;


}

 span {
    display: block;
  }

/* -- -----------------------services section ------------------------ -- */ 

#speaker{
    padding: -10px 0;
}

.service-img{
    width:300px ;
    margin-top:-10px;
}

.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
content:'';
background: #7b1798;
height: 5x;
width: 200px;
margin-left: auto;
margin-right: auto;
display: block;
transform: translateY(63px);
}

.title::after {
    content: '';
    background: #7b1798;
    height: 10x;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    }

#services .btn-primary{
     box-shadow: none;
     padding: 8px 25px;
     border: none;
     border-radius: 20px;
     background:linear-gradient(to right,#a517ba,#5f1782);
}

.footr-card{
    background-image: linear-gradient(to right,#4880f8,#013ab4);
    padding: 0 !important;
    color: white !important;
    height: 40px !important;
    padding: 8px 0px !important;
    vertical-align: middle !important;
}

/* -- -----------------------about-us section ------------------------ -- */ 

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top:8%
}

#about-us ul li{ 
    margin: 10px 0;
}

#about-us ul{
    margin-left: 20px;
}

#about-us img{
    width: 100%;
}

/* -- -----------------------testimonials section ------------------------ -- */ 

#testimonials{
    margin: 100px 0;
} 

.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin:0 10px; 
}

.user-details{
  display: inline-block ;
  font-size: 12px;     
}

/* -- -----------------------social-media section ------------------------ -- */ 

#social-media{
    /* background: #f8f9fa; */
    padding:100px 0;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform:translateY(-10px);

}

/* -- -----------------------footer section ------------------------ -- */ 

#footer{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: white;
}

.footer-img{
  width: 100%;
  height: 80%;
  
} 

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 10px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
     height: 40px;
     width: 40px;
     text-align: center;
     padding-top: 7px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);

}

hr{
    background-color: white;
}
.copyright{
    color: white;
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    
}